body{
    background-color: #e3fdfd;
    margin: 0;
}
h1{
    background-color: #cbf1f5;
    color: #71c9ce;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    text-align: center; 
}
